
x-base: &base
  environment:
    - DISPLAY=${DISPLAY}
    - UC3_DIR = /home/user1/UC3/laboratory-tour/
    - XAUTHORITY=/home/user1/.Xauthority
    - QT_X11_NO_MITSHM=1
#    - DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user1/1000/bus
    - LIBGL_ALWAYS_INDIRECT=0
    - YARP_COLORED_OUTPUT=1
    - YARP_CLOCK=/clock
    - YARP_NAMESPACE=/root
    - ROS_DOMAIN_ID=47
    - CYCLONEDDS_URI=/home/user1/UC3/laboratory-tour/docker/cyclone_dds_settings.xml
  volumes:
    - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
    - "/etc/hosts:/etc/hosts"

  network_mode: host
  ipc: host
  pid: host
  privileged: true
  security_opt:
    - apparmor:unconfined


services:

# Images
  ros2:
    image: ste93/
    build:
      dockerfile: Dockerfile
      context: .

# containers
  terminator:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: terminator
    command: sh -c "yarp conf 172.17.0.1 10000; terminator --no-dbus"

  yarpserver:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: yarpserver
    command: sh -c "yarp conf 172.17.0.1 10000; yarpserver"

  yarpclock:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: yarpclock
    command: sh -c "yarp conf 172.17.0.1 10000; yarp clock"
    depends_on:
      - yarpserver

  rosclock:
      image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
      <<: *base
      container_name: rosclock
      command: bash -c "source /opt/ros/iron/setup.bash && \
                source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
                source $${UC3_DIR}/install/setup.bash && \
                yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
                export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/src/robot/yarp/build/lib/; 
                ros2 run clock_component clock_component"

  fakeBattery:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: fakeBattery
    command: bash -c "source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              source $${UC3_DIR}/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarprobotinterface --config $${UC3_DIR}/src/components/fake_battery_component/robotinterface.xml"
    depends_on:
      - yarpserver

  fakeNavigation:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: fakeNavigation
    command: bash -c "source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              source $${UC3_DIR}/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarprobotinterface --config $${UC3_DIR}/src/components/fake_navigation_component/robotinterface.xml"
    depends_on:
      - yarpserver

  fakeLocalizer:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: fakeLocalizer
    command: bash -c "source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              source $${UC3_DIR}/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarpdev --device fakeLocalizer"
    depends_on:
      - yarpserver

  mapServer:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: mapServer
    command: bash -c "source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarprobotinterface --context navigation2 --from mapServer.ini"
    depends_on:
      - yarpserver

  localization:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: localization
    command: bash -c "source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarprobotinterface --context navigation2 --from localizationROS2.ini --init_map gam_sim_real"
    depends_on:
      - yarpserver

  navigator:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: navigator
    command: bash -c "source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarprobotinterface --context navigation2 --from navigator2D.ini"
    depends_on:
      - yarpserver
    

  yarprun:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: yarprun
    command: bash -c "export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/src/robot/yarp/build/lib/:/home/user1/Qt6.6.3/lib/ && \
              source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              source $${UC3_DIR}/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarp run --server /bt --log"
    depends_on:
      - yarpserver

  yarplogger:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: yarplogger
    command: bash -c "source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              source $${UC3_DIR}/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarplogger --start"
    depends_on:
      - yarpserver
    # networks:
    #   frontapp:
    #     ipv4_address: 172.17.0.14

  run_components:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: run_components
    command: bash -c "sleep 2; source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              source $${UC3_DIR}/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarpmanager-console --application  $${UC3_DIR}/launch/applications/convince_bt_components.xml --exit --run --connect"
    depends_on:
      - yarpserver
      - yarprun
      - yarplogger

  run_skills:
    image: ste93/convince:qt_6.7.3_ubuntu22.04_iron_stable_sim_completed
    <<: *base
    container_name: run_skills
    command: bash -c "sleep 2; source /opt/ros/iron/setup.bash && \
              source /usr/local/src/robot/yarp-devices-ros2/ros2_interfaces_ws/install/setup.bash && \
              source $${UC3_DIR}/install/setup.bash && \
              yarp conf 172.17.0.1 10000; yarp wait $${YARP_NAMESPACE}; \
              yarpmanager-console --application  $${UC3_DIR}/launch/applications/convince_bt_skills.xml --exit --run --connect"
    depends_on:
      - yarpserver
      - yarprun
      - yarplogger





# yarpmanager-console --application  UC3/laboratory-tour/launch/applications/convince_bt_components.xml --exit --run --connect
# yarpmanager-console --application  UC3/laboratory-tour/launch/applications/convince_bt_skills.xml --exit --run --connect
# ros2 run bt_executable bt_executable UC3/laboratory-tour/src/behavior_tree/BT/Policy.xml